@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: grid;
  justify-content: center;
  gap: 40px;
  font-family: "Cinzel";
  --s: 25vmin;
  --p: calc(var(--s) / 2);
  --c1: #886E58;
  --c2: #735238;
  --c3: #5E3719;
  --bg: var(--c3);
  --d: 4000ms;
  --e: cubic-bezier(0.76, 0, 0.24, 1);
  background-color: var(--bg);
  background-image: linear-gradient(45deg, var(--c1) 25%, transparent 25%), linear-gradient(-45deg, var(--c1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--c2) 75%), linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
  background-size: var(--s) var(--s);
  background-position: calc(var(--p) * 1) calc(var(--p) * 0), calc(var(--p) * -1) calc(var(--p) * 1), calc(var(--p) * 1) calc(var(--p) * -1), calc(var(--p) * -1) calc(var(--p) * 0);
  -webkit-animation: color var(--d) var(--e) infinite, position var(--d) var(--e) infinite;
          animation: color var(--d) var(--e) infinite, position var(--d) var(--e) infinite;
}

.container {
  padding: 25px 100px;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
}

.title > h1 {
  text-transform: uppercase;
}

.title > p {
  font-size: 14px;
  margin-bottom: 50px;
}

.gif > img {
  border-radius: 10px;
}

.second-container {
  background-color: var(--c3);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  padding: 25px 100px;
  border-radius: 10px;
  transition: all 0.5s ease-out;
  text-shadow: 2px 1px 10px black;
}
.second-container:hover {
  padding: 25px 50px;
  transition: all 0.5s ease-in-out;
}
.second-container > ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
a:hover {
  font-size: 1.5rem;
  transition: all 100ms ease-in-out;
  font-weight: bold;
}
a:visited {
  color: rgb(255, 240, 199);
}

li {
  padding-bottom: 10px;
}

@-webkit-keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c1);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c2);
  }
}

@keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c1);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c2);
  }
}
@-webkit-keyframes position {
  0% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 0), calc(var(--p) * -1) calc(var(--p) * 1), calc(var(--p) * 1) calc(var(--p) * -1), calc(var(--p) * -1) calc(var(--p) * 0);
  }
  25% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 4), calc(var(--p) * -1) calc(var(--p) * 5), calc(var(--p) * 1) calc(var(--p) * 3), calc(var(--p) * -1) calc(var(--p) * 4);
  }
  50% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 8), calc(var(--p) * -3) calc(var(--p) * 9), calc(var(--p) * 2) calc(var(--p) * 7), calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 12), calc(var(--p) * -3) calc(var(--p) * 13), calc(var(--p) * 2) calc(var(--p) * 11), calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {
    background-position: calc(var(--p) * 5) calc(var(--p) * 16), calc(var(--p) * -5) calc(var(--p) * 17), calc(var(--p) * 5) calc(var(--p) * 15), calc(var(--p) * -5) calc(var(--p) * 16);
  }
}
@keyframes position {
  0% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 0), calc(var(--p) * -1) calc(var(--p) * 1), calc(var(--p) * 1) calc(var(--p) * -1), calc(var(--p) * -1) calc(var(--p) * 0);
  }
  25% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 4), calc(var(--p) * -1) calc(var(--p) * 5), calc(var(--p) * 1) calc(var(--p) * 3), calc(var(--p) * -1) calc(var(--p) * 4);
  }
  50% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 8), calc(var(--p) * -3) calc(var(--p) * 9), calc(var(--p) * 2) calc(var(--p) * 7), calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 12), calc(var(--p) * -3) calc(var(--p) * 13), calc(var(--p) * 2) calc(var(--p) * 11), calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {
    background-position: calc(var(--p) * 5) calc(var(--p) * 16), calc(var(--p) * -5) calc(var(--p) * 17), calc(var(--p) * 5) calc(var(--p) * 15), calc(var(--p) * -5) calc(var(--p) * 16);
  }
}
@media (prefers-reduced-motion) {
  body {
    -webkit-animation: none;
            animation: none;
  }
}/*# sourceMappingURL=Main_Design.css.map */