@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cinzel';
    background-color: #5E3719;
}

.container{
    padding: 35px 100px 100px 100px;
    background-color: white;
}

.first_cont{
    text-align: center;
    padding: 100px;
    margin-bottom: 50px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.first_cont > h1{
	background: linear-gradient(-45deg, orange, blue, red);
	background-size: 400%;
	font-weight: 900;
	font-size: 2vw;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}


.second_cont{
    text-align: center;

    li{
        padding: 5px;
        margin-bottom: 10px;
    }
}

.dough > h1, .filling > h1, .broth > h1 {
    text-decoration: underline;
    margin-bottom: 15px;
}

button{
    margin-top: 25px;
    transition: 500ms ease-in-out;
    cursor: pointer;
    
    &:hover{
        padding: 5px;
        transition: 500ms ease-in-out;
    }
}

button > a{
    font-family: 'Cinzel';
    color: black;
    text-decoration: none;
    font-size: 2em;
}

.btn-cont{
    display: grid;
    justify-content: center;
}

// Keyframe of Armenian Mante

@keyframes animated_text {
	0%{ 
        background-position: 0px 50%;
    }
	100%{
         background-position: 400% 50%;
    }
}